body{
    background-image: url("./assets/cartoon-money-payment-mobile-bank-electronic-transaction-transfer-money-via-online-mobile-app-vector-illustration-people-send-receive-money-online-hand-holding-smartphone-with-fl.avif");
    background-size: cover;
}

.style{
    opacity:0;
}
